:root {
	--colorBg2: #fefec9;
	--colorBgMain: #f5f5f5;
	--colorTextMain: #333333;
	--colorTextForm: #ffffff;
	--colorGreen: #8bcac3;
	--colorRights: #ffffff66;
}

h1,
h2,
h5 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

header {
	padding: 0 238px;
}

p,
h3 {
	margin: 0;
	padding: 0;
}

.text-oswald {
	font-family: "Oswald";
}

.text-vollkorn {
	font-family: "Vollkorn";
}

.promo {
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../images/main.png");
}

.footer {
    width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../images/footer_img.png");
    padding: 80px 0;
}

.promo__container {
	max-width: 640px;
	padding-top: 105px;
	padding-bottom: 100px;
}

.rectangle {
	width: 80px;
	border-bottom: 2px solid white;
	margin: 28px auto 25px;
}

.rectangle_about {
	border-bottom: 2px solid #00000017;
	margin: 28px auto 43px;
}

.text-montserrat {
	font-family: "Montserrat";
}

.text-yellow-container {
	color: var(--colorTextMain);
	margin-bottom: 40px;
}

.yellow-container {
	max-width: 1050px;
}

.yellow {
	background-color: var(--colorBg2);
	padding-top: 60px;
	padding-bottom: 60px;
}

.yellow__button {
	display: flex;
	justify-content: center;
}

.text-about {
	color: var(--colorTextMain);
}

.about {
	padding: 80px 0;
}

.about__block {
	width: 300px;
	height: 219px;
	background-color: var(--colorBgMain);
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__container {
	max-width: 1240px;
}

.about__row {
	width: 300px;
}

.about__title {
	margin: 38px auto 20px;
}

.content {
	padding: 80px 0;
	background-color: var(--colorBgMain);
}

.content__container {
	max-width: 970px;
}

.content__image {
	width: 300px;
	height: 300px;
}

.col__content {
	align-items: center;
	justify-content: center;
}

.block {
	width: 300px;
	background-color: #fff;
	margin-bottom: 20px;
}

.title-card {
	font-size: 16px;
	line-height: 20px;
	margin: 19px auto 4px;
}

.text-description {
	margin-bottom: 21px;
}

.team {
	padding: 80px 0;
}

.socials {
    margin-top: 8px;
    justify-content: center;
    gap: 6px;
}

.social {
    width: 14px;
    height: 14px;
}

.quotes {
    padding: 70px 0;
}

.quote__title {
    justify-content: center;
}

.quote__image {
    width: 64px;
    height: 64px;
}

.text-quote {
    font-size: 26px;
    line-height: 33px;
    max-width: 338px;
    margin-bottom: 24px;
}

.title-quote {
    color: #ABABAB;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.row__quotes {
    margin-top: 65px;
}

.footer__row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.footer__cosials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1280px) {
	header {
		padding: 0 100px;
	}
	.promo__container {
		padding-top: 55px;
		padding-bottom: 50px;
	}
	.yellow {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.about {
		padding: 20px 0;
	}
	.team {
		padding: 20px 0;
	}
    .quotes {
    padding: 20px 0;
}
}

@media screen and (max-width: 768px) {
	header {
		padding: 0 30px;
	}
	.promo__container {
		padding-top: 25px;
		padding-bottom: 20px;
	}
	.content {
		padding: 20px 0;
		background-color: var(--colorBgMain);
	}
}
